.pads {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.padRow {
    display: flex;
}

.pad {
    width: 100px;
    height: 100px;
    background: #FF6E4A;
    border: solid 1px white;
}

.padActive {
    background: #D13913;
}

.timeline {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.timelineSequence {
    display: flex;
}

.timelineBar {
    display: flex;
}

.timelineBeat {
    height: 22px;
    display: flex;
    background: #5C7080;
    border: solid 1px white;
}

.timelineBeat.isCurrent {
    background: #394B59;
}

.timelineSixteenth {
    border-radius: 50%;
    width: 10px;
    background: #A7B6C2;
    margin: 5px;
}

.timelineSixteenth.isCurrent:not(.hasNote) {
    background: white;
}

.timelineSixteenth.hasNote {
    background: #FF6E4A;
}

.timelineSixteenth.isCurrent.hasNote {
    background: #D13913;
}
