/* dark theme */
.layoutContainer {
    background: #30404D;
    padding-top: 5px;
}

.layoutContainer h3 {
    color: #F5F8FA;
}

.pads {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.padRow {
    display: flex;
}

.pad {
    width: 200px;
    height: 200px;
    background: #FF6E4A;
    border: solid 1px #202B33;
    opacity: 0.7;
}

.padActive {
    opacity: 1;
}

.timeline {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.timelineSequence {
    display: flex;
}

.timelineBar {
    display: flex;
}

.timelineBeat {
    height: 30px;
    display: flex;
    background: #394B59;
    border: solid 1px #202B33;
}

.timelineBeat.isCurrent {
    background: #5C7080;
}

.timelineSixteenth {
    border-radius: 50%;
    width: 20px;
    margin: 4px;
    border: solid 1px #5C7080;
}

.timelineSixteenth.isCurrent {
    border-color: white;
}

/* need globals to override Blueprint */
:global(.tempo-swing-form-group .bp4-form-content) {
    display: flex;
}

:global(.tempo-swing-form-group .bp4-slider:not(:last-child)) {
    margin-right: 50px;
}

:global(.tempo-swing-form-group .bp4-slider:last-child) {
    width: 150px;
}
