.header {
    margin-bottom: 1.45rem;
}

.header > div {
    margin: 0 auto;
    max-width: 920px;
    padding: 1.45rem 1.0875rem;
}

.header h1 {
    margin: 0;
}

.header a {
    background-image: none;
}

.header a:hover {
    color: #0a3e34;
}

.body {
    margin: 0 auto;
    max-width: 920px;
    padding: 0 1rem 1.5rem;
}

.body pre {
    padding: 10px;
    background: rgba(252, 220, 158, 0.3);
    border-radius: 3px;
}

blockquote {
    font-size: inherit;
    line-height: inherit;
    border-left-width: 5px;
}

p code {
    font-size: inherit;
    line-height: inherit;
    padding: 0.25rem;
    background: rgba(252, 220, 158, 0.3);
    border-radius: 3px;
}
