.projects img {
    margin: 0 1rem 1rem 0;
    display: block;
    width: 100%;
    max-width: 600px;
}

.imageLink {
    background-image: none;
}

.tocLink {
    float: right;
    font-weight: 400;
    font-size: 1rem;
}
