/*
 * Overrides for typography.js & blueprint's _reset.scss styles, plus light & dark typography color themes
 */

html {
    --background-normal: #FFFFFF;
    --background-dark: #0d0a0a;
    --text-color-normal: #1C2127; /* Blueprint $dark-gray1 */
    --text-color-dark: #F6F7F9; /* Blueprint $light-gray1 */
    --link-color-normal: #1D7324; /* Blueprint $forest1 */
    --link-color-dark: #62D96B; /* Blueprint $forest5 */
    --divider-normal: #111418; /* Blueprint $black */
    --divider-dark: #FFFFFF;
}

body {
    font-family: "Almarai", serif;
    font-size: 16px;
    line-height: 1.5rem;
    background: var(--background-normal);
    color: var(--text-color-normal);
}

p {
    margin-bottom: 1.5rem;
}

p :last-child {
    margin-bottom: unset;
}

p > :last-child {
    margin-bottom: 0;
}

a {
    color: var(--link-color-normal);
    text-decoration: underline;
}

a:hover {
    color: var(--link-color-normal);
    text-decoration: none;
}

ul {
    margin-bottom: 1rem;
}

hr {
    background-color: var(--divider-normal);
    opacity: 0.15;
}

@media (prefers-color-scheme: dark) {
    body {
        background: var(--background-dark);
        color: var(--text-color-dark);
    }

    a,
    a:hover {
        color: var(--link-color-dark);
    }

    hr {
        background-color: var(--divider-dark);
        opacity: 0.2;
    }
}
