.header {
    margin-bottom: 1.45rem;
}

.header > div {
    margin: 0 auto;
    max-width: 920px;
    padding: 1.45rem 1.0875rem;
}

.header h1 {
    margin: 0;
}

.body {
    margin: 0 auto;
    max-width: 920px;
    padding: 0 1rem 1.5rem;
}
